@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCm3FwrK3iLTcvnUwkT9mI1F55MKw.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCm3FwrK3iLTcvnUwAT9mI1F55MKw.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCm3FwrK3iLTcvnUwgT9mI1F55MKw.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCm3FwrK3iLTcvnUwcT9mI1F55MKw.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCm3FwrK3iLTcvnUwsT9mI1F55MKw.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCm3FwrK3iLTcvnUwoT9mI1F55MKw.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCm3FwrK3iLTcvnUwQT9mI1F54.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCo3FwrK3iLTcvvYwYZ8UA3J58.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCo3FwrK3iLTcvmYwYZ8UA3J58.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCo3FwrK3iLTcvuYwYZ8UA3J58.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCo3FwrK3iLTcvhYwYZ8UA3J58.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCo3FwrK3iLTcvtYwYZ8UA3J58.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCo3FwrK3iLTcvsYwYZ8UA3J58.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('{{ system.assets_url }}/fonts/inter/v20/UcCo3FwrK3iLTcviYwYZ8UA3.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@media (max-width:600px){.mobile_mt-0{margin-top:0px!important}}
@media (max-width:600px){.mobile_px-2{padding-right:0.5rem!important;padding-left:0.5rem!important}}
@media (max-width:600px){.mobile_px-6{padding-right:1.5rem!important;padding-left:1.5rem!important}}
@media (max-width:600px){.mobile_py-12{padding-bottom:3rem!important;padding-top:3rem!important}}
@font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      mso-font-alt: 'Arial';
      src: url('{{ system.assets_url }}/fonts/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuOKfMZg.ttf') format('truetype');
    }
* {
      font-family: 'Inter', Arial, sans-serif;
    }
@font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      mso-font-alt: 'Arial';
      src: url('{{ system.assets_url }}/fonts/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf') format('truetype');
    }
@font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      mso-font-alt: 'Arial';
      src: url('{{ system.assets_url }}/fonts/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf') format('truetype');
    }
@media (max-width:600px){.mobile_mb-2{margin-bottom:0.5rem!important}}
@media (max-width:600px){.mobile_px-4{padding-right:1rem!important;padding-left:1rem!important}}
@media (max-width:600px){.mobile_py-10{padding-bottom:2.5rem!important;padding-top:2.5rem!important}}
@media (max-width:600px){.mobile_pt-6{padding-top:1.5rem!important}}
@media (max-width:600px){.mobile_pr-5{padding-right:1.25rem!important}}
@media (max-width:600px){.mobile_pb-10{padding-bottom:2.5rem!important}}
@media (max-width:600px){.mobile_mb-8{margin-bottom:2rem!important}}
@media (max-width:600px){.mobile_mb-10{margin-bottom:2.5rem!important}}
@media (max-width:600px){.mobile_imprtntblock{display:block!important}}
@media (max-width:600px){.mobile_imprtntw-full{width:100%!important}}
@media (max-width:600px){.mobile_imprtntmax-w-full{max-width:100%!important}}
@media (max-width:600px){.mobile_pr-0{padding-right:0px!important}}
@media (max-width:600px){.mobile_pb-4{padding-bottom:1rem!important}}
@media (max-width:600px){.mobile_pb-8{padding-bottom:2rem!important}}
@media (max-width:600px){.mobile_pl-0{padding-left:0px!important}}
.last_mb-0:last-child{margin-bottom:0px!important}
@media (max-width:600px){.mobile_pt-4{padding-top:1rem!important}}
